<?xml version="1.0" encoding="UTF-8"?>
<uitemplate:Page xmi:version="2.0" xmlns:xmi="http://www.omg.org/XMI" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:nsDataserviceContract="http://xcp.emc.com/DataserviceContract" xmlns:uitemplate="http://www.emc.com/xcp2/2010/uitemplate" urn="urn:ecms:com.emc.xcp.artifact.page:Artifacts/Pages/inbox_tasks.page" categoryId="com.emc.xcp.artifact.page" name="inbox_tasks" label="Inbox Tasks" templateType="application">
  <dataSources categoryId="com.emc.xcp.artifact.dataservice.datasource" name="user_tasks" label="User Tasks">
    <contract xsi:type="nsDataserviceContract:DataSourceContract" href="urn:ecms:com.emc.xcp.artifact.search.tasklist:Artifacts/Task-list Queries/user_tasks.tasklist#//@datasource"/>
  </dataSources>
  <actionInstanceProperty actionInstance="//@dataSources[name='user_tasks']"/>
  <title exprStr="Inbox Tasks"/>
  <rootContainer widgetEntry="//@widgetMap[key='root']">
    <properties name="xcpId" value="root" entry="//@rootContainer/@propertyMap.0"/>
    <propertyMap key="xcpId" value="//@rootContainer/@properties.0"/>
    <children xsi:type="uitemplate:Container" componentDefinitionId="xcp_column_box" parent="//@rootContainer" widgetEntry="//@widgetMap[key='column_box']">
      <properties name="title" value="Tasks" entry="//@rootContainer/@children.0/@propertyMap.0"/>
      <properties name="collapsible" value="false" type="BOOLEAN" entry="//@rootContainer/@children.0/@propertyMap.1"/>
      <properties name="collapsed" value="false" type="BOOLEAN" entry="//@rootContainer/@children.0/@propertyMap.2"/>
      <properties name="collapseFirst" value="true" type="BOOLEAN" entry="//@rootContainer/@children.0/@propertyMap.3"/>
      <properties name="border" value="false" type="BOOLEAN" entry="//@rootContainer/@children.0/@propertyMap.4"/>
      <properties name="defaultMargins" value="5" entry="//@rootContainer/@children.0/@propertyMap.5"/>
      <properties name="margins" value="" entry="//@rootContainer/@children.0/@propertyMap.6"/>
      <properties name="layout" value="xcp_columnbox" entry="//@rootContainer/@children.0/@propertyMap.7"/>
      <properties name="hidden" value="" entry="//@rootContainer/@children.0/@propertyMap.8"/>
      <properties name="cls" value="" entry="//@rootContainer/@children.0/@propertyMap.9"/>
      <properties name="xcpId" value="column_box" entry="//@rootContainer/@children.0/@propertyMap.10"/>
      <propertyMap key="title" value="//@rootContainer/@children.0/@properties.0"/>
      <propertyMap key="collapsible" value="//@rootContainer/@children.0/@properties.1"/>
      <propertyMap key="collapsed" value="//@rootContainer/@children.0/@properties.2"/>
      <propertyMap key="collapseFirst" value="//@rootContainer/@children.0/@properties.3"/>
      <propertyMap key="border" value="//@rootContainer/@children.0/@properties.4"/>
      <propertyMap key="defaultMargins" value="//@rootContainer/@children.0/@properties.5"/>
      <propertyMap key="margins" value="//@rootContainer/@children.0/@properties.6"/>
      <propertyMap key="layout" value="//@rootContainer/@children.0/@properties.7"/>
      <propertyMap key="hidden" value="//@rootContainer/@children.0/@properties.8"/>
      <propertyMap key="cls" value="//@rootContainer/@children.0/@properties.9"/>
      <propertyMap key="xcpId" value="//@rootContainer/@children.0/@properties.10"/>
      <children xsi:type="uitemplate:Container" componentDefinitionId="xcp_columnvbox" parent="//@rootContainer/@children.0" widgetEntry="//@widgetMap[key='columnvbox']">
        <properties name="orientation" value="Vertical" entry="//@rootContainer/@children.0/@children.0/@propertyMap.0"/>
        <properties name="width" value="" entry="//@rootContainer/@children.0/@children.0/@propertyMap.1"/>
        <properties name="minWidth" value="" type="INTEGER" entry="//@rootContainer/@children.0/@children.0/@propertyMap.2"/>
        <properties name="split" value="" type="BOOLEAN" entry="//@rootContainer/@children.0/@children.0/@propertyMap.3"/>
        <properties name="overflow_x" value="hidden" entry="//@rootContainer/@children.0/@children.0/@propertyMap.4"/>
        <properties name="labelWidth" value="150" type="INTEGER" entry="//@rootContainer/@children.0/@children.0/@propertyMap.5"/>
        <properties name="labelAlign" value="left" entry="//@rootContainer/@children.0/@children.0/@propertyMap.6"/>
        <properties name="halign" value="left" entry="//@rootContainer/@children.0/@children.0/@propertyMap.7"/>
        <properties name="valign" value="top" entry="//@rootContainer/@children.0/@children.0/@propertyMap.8"/>
        <properties name="defaultMargins" value="5" entry="//@rootContainer/@children.0/@children.0/@propertyMap.9"/>
        <properties name="margins" value="" entry="//@rootContainer/@children.0/@children.0/@propertyMap.10"/>
        <properties name="xcpId" value="columnvbox" entry="//@rootContainer/@children.0/@children.0/@propertyMap.11"/>
        <propertyMap key="orientation" value="//@rootContainer/@children.0/@children.0/@properties.0"/>
        <propertyMap key="width" value="//@rootContainer/@children.0/@children.0/@properties.1"/>
        <propertyMap key="minWidth" value="//@rootContainer/@children.0/@children.0/@properties.2"/>
        <propertyMap key="split" value="//@rootContainer/@children.0/@children.0/@properties.3"/>
        <propertyMap key="overflow_x" value="//@rootContainer/@children.0/@children.0/@properties.4"/>
        <propertyMap key="labelWidth" value="//@rootContainer/@children.0/@children.0/@properties.5"/>
        <propertyMap key="labelAlign" value="//@rootContainer/@children.0/@children.0/@properties.6"/>
        <propertyMap key="halign" value="//@rootContainer/@children.0/@children.0/@properties.7"/>
        <propertyMap key="valign" value="//@rootContainer/@children.0/@children.0/@properties.8"/>
        <propertyMap key="defaultMargins" value="//@rootContainer/@children.0/@children.0/@properties.9"/>
        <propertyMap key="margins" value="//@rootContainer/@children.0/@children.0/@properties.10"/>
        <propertyMap key="xcpId" value="//@rootContainer/@children.0/@children.0/@properties.11"/>
        <children xsi:type="uitemplate:Container" componentDefinitionId="xcp_results_list" parent="//@rootContainer/@children.0/@children.0" widgetEntry="//@widgetMap[key='results_list']" dataService="//@dataSources[name='user_tasks']">
          <properties name="title" value="" entry="//@rootContainer/@children.0/@children.0/@children.0/@propertyMap.0"/>
          <properties name="typeName" value="xcp_task" entry="//@rootContainer/@children.0/@children.0/@children.0/@propertyMap.1"/>
          <properties name="modelName" value="ecms_user_tasks_outputs" entry="//@rootContainer/@children.0/@children.0/@children.0/@propertyMap.2"/>
          <properties name="storeId" value="user_tasks" entry="//@rootContainer/@children.0/@children.0/@children.0/@propertyMap.3"/>
          <properties name="initParams" value="" entry="//@rootContainer/@children.0/@children.0/@children.0/@propertyMap.4"/>
          <properties name="selectionModelName" value="" entry="//@rootContainer/@children.0/@children.0/@children.0/@propertyMap.5"/>
          <properties name="pageSize" value="10" type="INTEGER" entry="//@rootContainer/@children.0/@children.0/@children.0/@propertyMap.6"/>
          <properties name="hidden" value="" entry="//@rootContainer/@children.0/@children.0/@children.0/@propertyMap.7"/>
          <properties xsi:type="uitemplate:ArrayProperty" entry="//@rootContainer/@children.0/@children.0/@children.0/@propertyMap.8"/>
          <properties xsi:type="uitemplate:ArrayProperty" entry="//@rootContainer/@children.0/@children.0/@children.0/@propertyMap.9"/>
          <properties name="selectionModel" value="false" type="BOOLEAN" entry="//@rootContainer/@children.0/@children.0/@children.0/@propertyMap.10"/>
          <properties name="cls" value="" entry="//@rootContainer/@children.0/@children.0/@children.0/@propertyMap.11"/>
          <properties name="enableDragDrop" value="true" type="BOOLEAN" entry="//@rootContainer/@children.0/@children.0/@children.0/@propertyMap.12"/>
          <properties name="disableNavigationOnFirstColumn" value="false" type="BOOLEAN" entry="//@rootContainer/@children.0/@children.0/@children.0/@propertyMap.13"/>
          <properties name="hideContextMenu" value="" entry="//@rootContainer/@children.0/@children.0/@children.0/@propertyMap.14"/>
          <properties name="allowDeselect" value="false" type="BOOLEAN" entry="//@rootContainer/@children.0/@children.0/@children.0/@propertyMap.15"/>
          <properties name="xcpId" value="results_list" entry="//@rootContainer/@children.0/@children.0/@children.0/@propertyMap.16"/>
          <propertyMap key="title" value="//@rootContainer/@children.0/@children.0/@children.0/@properties.0"/>
          <propertyMap key="typeName" value="//@rootContainer/@children.0/@children.0/@children.0/@properties.1"/>
          <propertyMap key="modelName" value="//@rootContainer/@children.0/@children.0/@children.0/@properties.2"/>
          <propertyMap key="storeId" value="//@rootContainer/@children.0/@children.0/@children.0/@properties.3"/>
          <propertyMap key="initParams" value="//@rootContainer/@children.0/@children.0/@children.0/@properties.4"/>
          <propertyMap key="selectionModelName" value="//@rootContainer/@children.0/@children.0/@children.0/@properties.5"/>
          <propertyMap key="pageSize" value="//@rootContainer/@children.0/@children.0/@children.0/@properties.6"/>
          <propertyMap key="hidden" value="//@rootContainer/@children.0/@children.0/@children.0/@properties.7"/>
          <propertyMap key="facets" value="//@rootContainer/@children.0/@children.0/@children.0/@properties.8"/>
          <propertyMap key="facetLabels" value="//@rootContainer/@children.0/@children.0/@children.0/@properties.9"/>
          <propertyMap key="selectionModel" value="//@rootContainer/@children.0/@children.0/@children.0/@properties.10"/>
          <propertyMap key="cls" value="//@rootContainer/@children.0/@children.0/@children.0/@properties.11"/>
          <propertyMap key="enableDragDrop" value="//@rootContainer/@children.0/@children.0/@children.0/@properties.12"/>
          <propertyMap key="disableNavigationOnFirstColumn" value="//@rootContainer/@children.0/@children.0/@children.0/@properties.13"/>
          <propertyMap key="hideContextMenu" value="//@rootContainer/@children.0/@children.0/@children.0/@properties.14"/>
          <propertyMap key="allowDeselect" value="//@rootContainer/@children.0/@children.0/@children.0/@properties.15"/>
          <propertyMap key="xcpId" value="//@rootContainer/@children.0/@children.0/@children.0/@properties.16"/>
          <children componentDefinitionId="xcp_results_list_page_link_column" parent="//@rootContainer/@children.0/@children.0/@children.0" widgetEntry="//@widgetMap[key='results_list_page_link_column']" dataService="//@dataSources[name='user_tasks']">
            <properties name="text" value="Task Name" entry="//@rootContainer/@children.0/@children.0/@children.0/@children.0/@propertyMap.0"/>
            <properties name="width" value="300" type="INTEGER" entry="//@rootContainer/@children.0/@children.0/@children.0/@children.0/@propertyMap.1"/>
            <properties name="minWidth" value="" type="INTEGER" entry="//@rootContainer/@children.0/@children.0/@children.0/@children.0/@propertyMap.2"/>
            <properties name="dataIndex" value="task_subject" entry="//@rootContainer/@children.0/@children.0/@children.0/@children.0/@propertyMap.3"/>
            <properties name="valueType" value="STRING" entry="//@rootContainer/@children.0/@children.0/@children.0/@children.0/@propertyMap.4"/>
            <properties name="isRepeating" value="false" type="BOOLEAN" entry="//@rootContainer/@children.0/@children.0/@children.0/@children.0/@propertyMap.5"/>
            <properties xsi:type="uitemplate:ObjectProperty" entry="//@rootContainer/@children.0/@children.0/@children.0/@children.0/@propertyMap.6">
              <formatter componentDefinitionId="xcp_repeating_attribute_formatter">
                <properties name="xtype" value="xcp_repeating_attribute_formatter" entry="//@rootContainer/@children.0/@children.0/@children.0/@children.0/@properties.6/@formatter/@propertyMap.0"/>
                <properties name="separatorStyle" value="NEWLINE" entry="//@rootContainer/@children.0/@children.0/@children.0/@children.0/@properties.6/@formatter/@propertyMap.1"/>
                <properties name="separator" value="COMMA" entry="//@rootContainer/@children.0/@children.0/@children.0/@children.0/@properties.6/@formatter/@propertyMap.2"/>
                <propertyMap key="xtype" value="//@rootContainer/@children.0/@children.0/@children.0/@children.0/@properties.6/@formatter/@properties.0"/>
                <propertyMap key="separatorStyle" value="//@rootContainer/@children.0/@children.0/@children.0/@children.0/@properties.6/@formatter/@properties.1"/>
                <propertyMap key="separator" value="//@rootContainer/@children.0/@children.0/@children.0/@children.0/@properties.6/@formatter/@properties.2"/>
              </formatter>
            </properties>
            <properties name="sortable" value="false" type="BOOLEAN" entry="//@rootContainer/@children.0/@children.0/@children.0/@children.0/@propertyMap.7"/>
            <properties name="menuDisabled" value="true" type="BOOLEAN" entry="//@rootContainer/@children.0/@children.0/@children.0/@children.0/@propertyMap.8"/>
            <properties name="xcpId" value="results_list_page_link_column" entry="//@rootContainer/@children.0/@children.0/@children.0/@children.0/@propertyMap.9"/>
            <properties xsi:type="uitemplate:ObjectProperty" entry="//@rootContainer/@children.0/@children.0/@children.0/@children.0/@propertyMap.10">
              <formatter/>
            </properties>
            <propertyMap key="text" value="//@rootContainer/@children.0/@children.0/@children.0/@children.0/@properties.0"/>
            <propertyMap key="width" value="//@rootContainer/@children.0/@children.0/@children.0/@children.0/@properties.1"/>
            <propertyMap key="minWidth" value="//@rootContainer/@children.0/@children.0/@children.0/@children.0/@properties.2"/>
            <propertyMap key="dataIndex" value="//@rootContainer/@children.0/@children.0/@children.0/@children.0/@properties.3"/>
            <propertyMap key="valueType" value="//@rootContainer/@children.0/@children.0/@children.0/@children.0/@properties.4"/>
            <propertyMap key="isRepeating" value="//@rootContainer/@children.0/@children.0/@children.0/@children.0/@properties.5"/>
            <propertyMap key="repeatingAttributeFormat" value="//@rootContainer/@children.0/@children.0/@children.0/@children.0/@properties.6"/>
            <propertyMap key="sortable" value="//@rootContainer/@children.0/@children.0/@children.0/@children.0/@properties.7"/>
            <propertyMap key="menuDisabled" value="//@rootContainer/@children.0/@children.0/@children.0/@children.0/@properties.8"/>
            <propertyMap key="xcpId" value="//@rootContainer/@children.0/@children.0/@children.0/@children.0/@properties.9"/>
            <propertyMap key="format" value="//@rootContainer/@children.0/@children.0/@children.0/@children.0/@properties.10"/>
          </children>
          <children componentDefinitionId="xcp_results_list_column" parent="//@rootContainer/@children.0/@children.0/@children.0" widgetEntry="//@widgetMap[key='results_list_column']" dataService="//@dataSources[name='user_tasks']">
            <properties name="text" value="Status" entry="//@rootContainer/@children.0/@children.0/@children.0/@children.1/@propertyMap.0"/>
            <properties name="width" value="150" type="INTEGER" entry="//@rootContainer/@children.0/@children.0/@children.0/@children.1/@propertyMap.1"/>
            <properties name="minWidth" value="" type="INTEGER" entry="//@rootContainer/@children.0/@children.0/@children.0/@children.1/@propertyMap.2"/>
            <properties name="dataIndex" value="Outputs.task_status" entry="//@rootContainer/@children.0/@children.0/@children.0/@children.1/@propertyMap.3"/>
            <properties name="valueType" value="xcp.picklist.xcp_taskstatuspiclkist" entry="//@rootContainer/@children.0/@children.0/@children.0/@children.1/@propertyMap.4"/>
            <properties name="isRepeating" value="false" type="BOOLEAN" entry="//@rootContainer/@children.0/@children.0/@children.0/@children.1/@propertyMap.5"/>
            <properties xsi:type="uitemplate:ObjectProperty" entry="//@rootContainer/@children.0/@children.0/@children.0/@children.1/@propertyMap.6">
              <formatter componentDefinitionId="xcp_repeating_attribute_formatter">
                <properties name="xtype" value="xcp_repeating_attribute_formatter" entry="//@rootContainer/@children.0/@children.0/@children.0/@children.1/@properties.6/@formatter/@propertyMap.0"/>
                <properties name="separatorStyle" value="NEWLINE" entry="//@rootContainer/@children.0/@children.0/@children.0/@children.1/@properties.6/@formatter/@propertyMap.1"/>
                <properties name="separator" value="COMMA" entry="//@rootContainer/@children.0/@children.0/@children.0/@children.1/@properties.6/@formatter/@propertyMap.2"/>
                <propertyMap key="xtype" value="//@rootContainer/@children.0/@children.0/@children.0/@children.1/@properties.6/@formatter/@properties.0"/>
                <propertyMap key="separatorStyle" value="//@rootContainer/@children.0/@children.0/@children.0/@children.1/@properties.6/@formatter/@properties.1"/>
                <propertyMap key="separator" value="//@rootContainer/@children.0/@children.0/@children.0/@children.1/@properties.6/@formatter/@properties.2"/>
              </formatter>
            </properties>
            <properties name="sortable" value="false" type="BOOLEAN" entry="//@rootContainer/@children.0/@children.0/@children.0/@children.1/@propertyMap.7"/>
            <properties name="menuDisabled" value="true" type="BOOLEAN" entry="//@rootContainer/@children.0/@children.0/@children.0/@children.1/@propertyMap.8"/>
            <properties name="xcpId" value="results_list_column" entry="//@rootContainer/@children.0/@children.0/@children.0/@children.1/@propertyMap.9"/>
            <propertyMap key="text" value="//@rootContainer/@children.0/@children.0/@children.0/@children.1/@properties.0"/>
            <propertyMap key="width" value="//@rootContainer/@children.0/@children.0/@children.0/@children.1/@properties.1"/>
            <propertyMap key="minWidth" value="//@rootContainer/@children.0/@children.0/@children.0/@children.1/@properties.2"/>
            <propertyMap key="dataIndex" value="//@rootContainer/@children.0/@children.0/@children.0/@children.1/@properties.3"/>
            <propertyMap key="valueType" value="//@rootContainer/@children.0/@children.0/@children.0/@children.1/@properties.4"/>
            <propertyMap key="isRepeating" value="//@rootContainer/@children.0/@children.0/@children.0/@children.1/@properties.5"/>
            <propertyMap key="repeatingAttributeFormat" value="//@rootContainer/@children.0/@children.0/@children.0/@children.1/@properties.6"/>
            <propertyMap key="sortable" value="//@rootContainer/@children.0/@children.0/@children.0/@children.1/@properties.7"/>
            <propertyMap key="menuDisabled" value="//@rootContainer/@children.0/@children.0/@children.0/@children.1/@properties.8"/>
            <propertyMap key="xcpId" value="//@rootContainer/@children.0/@children.0/@children.0/@children.1/@properties.9"/>
          </children>
          <children componentDefinitionId="xcp_results_list_column" parent="//@rootContainer/@children.0/@children.0/@children.0" widgetEntry="//@widgetMap[key='results_list_column1']" dataService="//@dataSources[name='user_tasks']">
            <properties name="text" value="Sender" entry="//@rootContainer/@children.0/@children.0/@children.0/@children.2/@propertyMap.0"/>
            <properties name="width" value="200" type="INTEGER" entry="//@rootContainer/@children.0/@children.0/@children.0/@children.2/@propertyMap.1"/>
            <properties name="minWidth" value="" type="INTEGER" entry="//@rootContainer/@children.0/@children.0/@children.0/@children.2/@propertyMap.2"/>
            <properties name="dataIndex" value="task_sent_by" entry="//@rootContainer/@children.0/@children.0/@children.0/@children.2/@propertyMap.3"/>
            <properties name="valueType" value="STRING" entry="//@rootContainer/@children.0/@children.0/@children.0/@children.2/@propertyMap.4"/>
            <properties name="isRepeating" value="false" type="BOOLEAN" entry="//@rootContainer/@children.0/@children.0/@children.0/@children.2/@propertyMap.5"/>
            <properties xsi:type="uitemplate:ObjectProperty" entry="//@rootContainer/@children.0/@children.0/@children.0/@children.2/@propertyMap.6">
              <formatter componentDefinitionId="xcp_repeating_attribute_formatter">
                <properties name="xtype" value="xcp_repeating_attribute_formatter" entry="//@rootContainer/@children.0/@children.0/@children.0/@children.2/@properties.6/@formatter/@propertyMap.0"/>
                <properties name="separatorStyle" value="NEWLINE" entry="//@rootContainer/@children.0/@children.0/@children.0/@children.2/@properties.6/@formatter/@propertyMap.1"/>
                <properties name="separator" value="COMMA" entry="//@rootContainer/@children.0/@children.0/@children.0/@children.2/@properties.6/@formatter/@propertyMap.2"/>
                <propertyMap key="xtype" value="//@rootContainer/@children.0/@children.0/@children.0/@children.2/@properties.6/@formatter/@properties.0"/>
                <propertyMap key="separatorStyle" value="//@rootContainer/@children.0/@children.0/@children.0/@children.2/@properties.6/@formatter/@properties.1"/>
                <propertyMap key="separator" value="//@rootContainer/@children.0/@children.0/@children.0/@children.2/@properties.6/@formatter/@properties.2"/>
              </formatter>
            </properties>
            <properties name="sortable" value="false" type="BOOLEAN" entry="//@rootContainer/@children.0/@children.0/@children.0/@children.2/@propertyMap.7"/>
            <properties name="menuDisabled" value="true" type="BOOLEAN" entry="//@rootContainer/@children.0/@children.0/@children.0/@children.2/@propertyMap.8"/>
            <properties name="xcpId" value="results_list_column1" entry="//@rootContainer/@children.0/@children.0/@children.0/@children.2/@propertyMap.9"/>
            <properties xsi:type="uitemplate:ObjectProperty" entry="//@rootContainer/@children.0/@children.0/@children.0/@children.2/@propertyMap.10">
              <formatter/>
            </properties>
            <propertyMap key="text" value="//@rootContainer/@children.0/@children.0/@children.0/@children.2/@properties.0"/>
            <propertyMap key="width" value="//@rootContainer/@children.0/@children.0/@children.0/@children.2/@properties.1"/>
            <propertyMap key="minWidth" value="//@rootContainer/@children.0/@children.0/@children.0/@children.2/@properties.2"/>
            <propertyMap key="dataIndex" value="//@rootContainer/@children.0/@children.0/@children.0/@children.2/@properties.3"/>
            <propertyMap key="valueType" value="//@rootContainer/@children.0/@children.0/@children.0/@children.2/@properties.4"/>
            <propertyMap key="isRepeating" value="//@rootContainer/@children.0/@children.0/@children.0/@children.2/@properties.5"/>
            <propertyMap key="repeatingAttributeFormat" value="//@rootContainer/@children.0/@children.0/@children.0/@children.2/@properties.6"/>
            <propertyMap key="sortable" value="//@rootContainer/@children.0/@children.0/@children.0/@children.2/@properties.7"/>
            <propertyMap key="menuDisabled" value="//@rootContainer/@children.0/@children.0/@children.0/@children.2/@properties.8"/>
            <propertyMap key="xcpId" value="//@rootContainer/@children.0/@children.0/@children.0/@children.2/@properties.9"/>
            <propertyMap key="format" value="//@rootContainer/@children.0/@children.0/@children.0/@children.2/@properties.10"/>
          </children>
          <children componentDefinitionId="xcp_results_list_column" parent="//@rootContainer/@children.0/@children.0/@children.0" widgetEntry="//@widgetMap[key='results_list_column2']" dataService="//@dataSources[name='user_tasks']">
            <properties name="text" value="Sent Date" entry="//@rootContainer/@children.0/@children.0/@children.0/@children.3/@propertyMap.0"/>
            <properties name="width" value="" type="INTEGER" entry="//@rootContainer/@children.0/@children.0/@children.0/@children.3/@propertyMap.1"/>
            <properties name="minWidth" value="" type="INTEGER" entry="//@rootContainer/@children.0/@children.0/@children.0/@children.3/@propertyMap.2"/>
            <properties name="dataIndex" value="task_date_sent" entry="//@rootContainer/@children.0/@children.0/@children.0/@children.3/@propertyMap.3"/>
            <properties name="valueType" value="DATETIME" entry="//@rootContainer/@children.0/@children.0/@children.0/@children.3/@propertyMap.4"/>
            <properties name="isRepeating" value="false" type="BOOLEAN" entry="//@rootContainer/@children.0/@children.0/@children.0/@children.3/@propertyMap.5"/>
            <properties xsi:type="uitemplate:ObjectProperty" entry="//@rootContainer/@children.0/@children.0/@children.0/@children.3/@propertyMap.6">
              <formatter componentDefinitionId="xcp_repeating_attribute_formatter">
                <properties name="xtype" value="xcp_repeating_attribute_formatter" entry="//@rootContainer/@children.0/@children.0/@children.0/@children.3/@properties.6/@formatter/@propertyMap.0"/>
                <properties name="separatorStyle" value="NEWLINE" entry="//@rootContainer/@children.0/@children.0/@children.0/@children.3/@properties.6/@formatter/@propertyMap.1"/>
                <properties name="separator" value="COMMA" entry="//@rootContainer/@children.0/@children.0/@children.0/@children.3/@properties.6/@formatter/@propertyMap.2"/>
                <propertyMap key="xtype" value="//@rootContainer/@children.0/@children.0/@children.0/@children.3/@properties.6/@formatter/@properties.0"/>
                <propertyMap key="separatorStyle" value="//@rootContainer/@children.0/@children.0/@children.0/@children.3/@properties.6/@formatter/@properties.1"/>
                <propertyMap key="separator" value="//@rootContainer/@children.0/@children.0/@children.0/@children.3/@properties.6/@formatter/@properties.2"/>
              </formatter>
            </properties>
            <properties name="sortable" value="false" type="BOOLEAN" entry="//@rootContainer/@children.0/@children.0/@children.0/@children.3/@propertyMap.7"/>
            <properties name="menuDisabled" value="true" type="BOOLEAN" entry="//@rootContainer/@children.0/@children.0/@children.0/@children.3/@propertyMap.8"/>
            <properties name="xcpId" value="results_list_column2" entry="//@rootContainer/@children.0/@children.0/@children.0/@children.3/@propertyMap.9"/>
            <properties xsi:type="uitemplate:ObjectProperty" entry="//@rootContainer/@children.0/@children.0/@children.0/@children.3/@propertyMap.10">
              <formatter componentDefinitionId="xcp_datetime_formatter">
                <properties name="xtype" value="xcp_datetime_formatter" entry="//@rootContainer/@children.0/@children.0/@children.0/@children.3/@properties.10/@formatter/@propertyMap.0"/>
                <properties name="dateFormat" value="short" entry="//@rootContainer/@children.0/@children.0/@children.0/@children.3/@properties.10/@formatter/@propertyMap.1"/>
                <properties name="timeFormat" value="short" entry="//@rootContainer/@children.0/@children.0/@children.0/@children.3/@properties.10/@formatter/@propertyMap.2"/>
                <properties name="dateStyle" value="datetime" entry="//@rootContainer/@children.0/@children.0/@children.0/@children.3/@properties.10/@formatter/@propertyMap.3"/>
                <propertyMap key="xtype" value="//@rootContainer/@children.0/@children.0/@children.0/@children.3/@properties.10/@formatter/@properties.0"/>
                <propertyMap key="dateFormat" value="//@rootContainer/@children.0/@children.0/@children.0/@children.3/@properties.10/@formatter/@properties.1"/>
                <propertyMap key="timeFormat" value="//@rootContainer/@children.0/@children.0/@children.0/@children.3/@properties.10/@formatter/@properties.2"/>
                <propertyMap key="dateStyle" value="//@rootContainer/@children.0/@children.0/@children.0/@children.3/@properties.10/@formatter/@properties.3"/>
              </formatter>
            </properties>
            <propertyMap key="text" value="//@rootContainer/@children.0/@children.0/@children.0/@children.3/@properties.0"/>
            <propertyMap key="width" value="//@rootContainer/@children.0/@children.0/@children.0/@children.3/@properties.1"/>
            <propertyMap key="minWidth" value="//@rootContainer/@children.0/@children.0/@children.0/@children.3/@properties.2"/>
            <propertyMap key="dataIndex" value="//@rootContainer/@children.0/@children.0/@children.0/@children.3/@properties.3"/>
            <propertyMap key="valueType" value="//@rootContainer/@children.0/@children.0/@children.0/@children.3/@properties.4"/>
            <propertyMap key="isRepeating" value="//@rootContainer/@children.0/@children.0/@children.0/@children.3/@properties.5"/>
            <propertyMap key="repeatingAttributeFormat" value="//@rootContainer/@children.0/@children.0/@children.0/@children.3/@properties.6"/>
            <propertyMap key="sortable" value="//@rootContainer/@children.0/@children.0/@children.0/@children.3/@properties.7"/>
            <propertyMap key="menuDisabled" value="//@rootContainer/@children.0/@children.0/@children.0/@children.3/@properties.8"/>
            <propertyMap key="xcpId" value="//@rootContainer/@children.0/@children.0/@children.0/@children.3/@properties.9"/>
            <propertyMap key="format" value="//@rootContainer/@children.0/@children.0/@children.0/@children.3/@properties.10"/>
          </children>
        </children>
      </children>
    </children>
  </rootContainer>
  <widgetMap key="root" value="//@rootContainer"/>
  <widgetMap key="results_list" value="//@rootContainer/@children.0/@children.0/@children.0"/>
  <widgetMap key="results_list_page_link_column" value="//@rootContainer/@children.0/@children.0/@children.0/@children.0"/>
  <widgetMap key="results_list_column1" value="//@rootContainer/@children.0/@children.0/@children.0/@children.2"/>
  <widgetMap key="results_list_column2" value="//@rootContainer/@children.0/@children.0/@children.0/@children.3"/>
  <widgetMap key="column_box" value="//@rootContainer/@children.0"/>
  <widgetMap key="columnvbox" value="//@rootContainer/@children.0/@children.0"/>
  <widgetMap key="results_list_column" value="//@rootContainer/@children.0/@children.0/@children.0/@children.1"/>
</uitemplate:Page>
